<?xml version="1.0"?>
<config>
    <modules>
        <Divante_VueStorefrontExternalCheckout>
            <version>1.0.0</version>
        </Divante_VueStorefrontExternalCheckout>
    </modules>
    <frontend>
        <routers>
            <vscheckout>
                <use>standard</use>
                <args>
                    <module>Divante_VueStorefrontExternalCheckout</module>
                    <frontName>vue</frontName>
                </args>
            </vscheckout>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <divante_vuestorefrontexternalcheckout_controller_action_predispatch>
                        <type>singleton</type>
                        <class>vuestorefrontexternalcheckout/observer</class>
                        <method>preDispatch</method>
                        <type>model</type>
                    </divante_vuestorefrontexternalcheckout_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <global>
        <helpers>
            <vuestorefrontexternalcheckout>
                <class>Divante_VueStorefrontExternalCheckout_Helper</class>
            </vuestorefrontexternalcheckout>
        </helpers>
        <models>
            <vuestorefrontexternalcheckout>
                <class>Divante_VueStorefrontExternalCheckout_Model</class>
            </vuestorefrontexternalcheckout>
        </models>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <divante_vuestorefrontexternalcheckout_redirect>
                        <class>vuestorefrontexternalcheckout/observer</class>
                        <method>redirectAfter</method>
                        <type>model</type>
                    </divante_vuestorefrontexternalcheckout_redirect>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
    <default>
        <vuestorefrontexternalcheckout>
            <vuestorefrontexternalcheckout_group>
                <exclude_route><![CDATA[checkout/onepage]]></exclude_route>
                <externalcheckout_url>order-success</externalcheckout_url>
            </vuestorefrontexternalcheckout_group>
        </vuestorefrontexternalcheckout>
    </default>

</config>
